<div class="row">
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr. no</th>
                    <th>Title</th>
                    <th>Url</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                @for(item of photosList; track $index) {
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.url}}</td>
                    <td>{{item.thumbnailUrl}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>