<div class="row">
    <div [ngClass]="isSidePanel() ? 'col-6' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-8">
                        List
                    </div>
                    <div class="col-4 text-end">
                        <button class="btn btn-success" (click)="openSidePanel()">Open</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="p-4" [ngClass]="myClassName">
                            Div 1
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="text" [(ngModel)]="myClassName">
                    </div>
                    <div class="col-2">
                        <button class="btn" (click)="isActive = !isActive"
                            [ngClass]="isActive == true ? 'bg-success': 'bg-danger'">Status</button>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-3">
                        <p [ngClass]="productPrice > 500 ? 'text-danger' : 'text-primary' ">Price ${{productPrice}}</p>
                    </div>
                    <div class="col-2">
                        <input type="text" [(ngModel)]="productPrice">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if(isSidePanel()) {
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-8">
                        Form
                    </div>
                    <div class="col-4 text-end">
                        <button class="btn btn-success" (click)="closeSidePanel()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="p-4" [ngStyle]="{'background-color': divBackColor}">
                            Div 2
                        </div>
                    </div>
                    <div class="col-5">
                        <input type="text" [(ngModel)]="divBackColor">
                    </div>
                    <div class="col-2">
                        <button class="btn" (click)="isActive = !isActive"
                            [ngClass]="isActive == true ? 'bg-success': 'bg-danger'">Status</button>
                    </div>
                    <div class="col-2" [ngStyle]="myCSS">
                        Div 55
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-3">
                        <div [class]="'p-4' + myClassName">
                            Div 1
                        </div>
                    </div>
                    <div class="col-5">
                        <input type="text" [(ngModel)]="myClassName">
                    </div>
                    <div class="col-4">
                        <button class="btn" (click)="isActive = !isActive"
                            [ngClass]="isActive == true ? 'bg-success': 'bg-danger'">Status</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>