<div class="d-flex">

  <!-- Sidebar -->
  <nav class="bg-dark text-white p-3 vh-100" style="width:200px;">
    <h4 class="text-center mb-4">My App</h4>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="variables">Variables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="databindings">data Bindings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="signal">Signal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="control-flow">Contol Flow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="dynamic-css-class">Dynamic CSS Class</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="users">Users Master</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="reactive-usersForm">Reactive Froms User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="photos">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="project-competition">Project Competition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="signal-form">Signal Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="login">Login</a>
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <main class="flex-fill p-4">
    <router-outlet></router-outlet>
  </main>

</div>